{{!< default}}

{{#post}}
<article class="post {{#if featured}}post-featured{{/if}}" id="post-{{id}}" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title">{{{title}}}</h1>

        <span class="post-meta">
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}" itemprop="datePublished">{{date format='MMMM D, YYYY'}}</time>

            {{#if tags}}<span class="post-tags" itemprop="keywords">{{tags}}</span>{{/if}}

            <a class="author-url" href="{{author.url}}">{{author}}</a>
        </span>

        {{#if image}}
        <img class="post-image" alt="" src="{{image}}">
        {{/if}}
    </header>

    <div class="post-content" itemprop="articleBody">
    {{content}}
    </div>

    <footer class="post-footer">
        <section class="post-share">
            <h4>Share this post</h4>

            <a class="post-share-twitter" href="http://twitter.com/share?text={{title}}&url={{url absolute='true'}}"
                onclick="window.open(this.href, 'twitter-share', 'height=235,width=550'); return false"><span class="visually-hidden">Twitter</span></a>

            <a class="post-share-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}"
                onclick="window.open(this.href, 'facebook-share','height=296,width=580'); return false"><span class="visually-hidden">Facebook</span></a>

            <a class="post-share-google-plus" href="https://plus.google.com/share?url={{url absolute='true'}}"
               onclick="window.open(this.href, 'google-plus-share', 'height=530,width=490'); return false"><span class="visually-hidden">Google+</span></a>
        </section>
    </footer>

    <!-- Disqus comments -->

    <section class="comments">
        <h4>Comments</h4>

        <div id="disqus_thread">
            <form class="comments-toggle">
                <input type="submit" value="View comments">
            </form>
        </div>

        <script>
        var disqus_identifier = '{{id}}';
        var disqus_url = '{{url absolute="true"}}';
        </script>

        <noscript>Please enable javascript to <a href="http://disqus.com/?ref_noscript" rel="nofollow">discus this page, powered by Disqus.</a></noscript>
    </section>
</article>
{{/post}}